/* two-balls loading START */
.two-balls {
    position: relative;
    width: 44px;
    height: 45px;
    margin-top: 20px;
  }
  
  .two-balls div {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: two-balls-pink 1.05s ease-in-out infinite;
  }
  
  .two-balls .pink {
    background-color: #ff4a69;
    left: -2px;
  }
  .two-balls .blue {
    animation-name: two-balls-blue;
    background-color: #1342ed;
    right: -2px;
  }
  
  @keyframes two-balls-pink {
    from {
      z-index: 1;
    }
    50% {
      transform: translateX(calc(20px + 3 * 2px));
    }
  }
  
  @keyframes two-balls-blue {
    50% {
      transform: translateX(calc(-20px - 3 * 2px));
    }
  }